<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Example of Node.js App on Server</title>
</head>
<body>
<h1>Simple Example of Node.js App on Server</h1> 
<hr>
<p>This is a simple boilerplate app you can use to start a node.js app with a server on port 3000</p>
<p><a href="https://github.com/edwinaquino">View My GitHub</a></p>
</body>
</html>